@font-face {
	font-family: 'MADELikesSlab';
	src: url('./fonts/madelikesslab.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/madelikesslab.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/madelikesslab.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/madelikesslab.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/madelikesslab.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/madelikesslab.svg#madelikesslab') format('svg'); /* Chrome < 4, Legacy iOS */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background: rgb(118,0,142);
  background: linear-gradient(0deg, #5c0e9c 25%, #9a3bf3 50%);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  border-bottom: 6px #FFF1FE groove;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logotype {
  display: flex;
  justify-content: flex-start;
  pointer-events: none;
  width: 300px;
  height: 275px;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu-style {
  padding-right: 50px;
  pointer-events: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-block1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-block2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.quiz-name {
  display: flex;
  justify-content: center;
  color: #FFF1FE;
  font-family: "MADELikesSlab";
  font-size: 30px;
  padding-bottom: 8px;
}

.quiz-name:hover {
color: rgb(187, 172, 255);
transition: 0.2s linear;
} 

.quiz-pic {
  border: 5px #572288 solid;
	border-radius: 16px;
  display: flex;
  justify-content: center;
  width: 300px;
  height: 163px;
}

.quiz {
  padding: 50px 60px 50px 60px;
}

footer {
  border-top: 6px #FFF1FE dotted;
  height: 160px;
  padding-top: 40px;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
}

.footer-text-style {
  font-size: 30px;
  color: #FFF1FE;
  font-family: "MADELikesSlab";
}

.footer-text-style:hover {
  color: rgb(187, 172, 255);
  transition: 0.2s linear;
}