@font-face {
	font-family: 'MADELikesSlab';
	src: url('../fonts/madelikesslab.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/madelikesslab.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
	url('../fonts/madelikesslab.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/madelikesslab.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
	url('../fonts/madelikesslab.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/madelikesslab.svg#madelikesslab') format('svg'); /* Chrome < 4, Legacy iOS */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background: rgb(118,0,142);
  background: linear-gradient(0deg, #5c0e9c 25%, #9a3bf3 50%);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
}

.logotype {
  pointer-events: none;
  width: 300px;
  height: 275px;
}

.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-box {
  padding: 20px 60px;
  align-items: center;
}

.qst {
  display: flex;
  justify-content: center;
  font-family: 'MADELikesSlab';
  color: #5c0e9c;
  border: 4px solid #5c0e9c;
  border-radius: 6px;
  background-color: #caafe4;
  font-size: 30px;
  padding: 20px;
  pointer-events: none;
}

.time {
  color: #f1a809;
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: 'MADELikesSlab';
  padding: 20px 40px;
  pointer-events: none;
  border: 3px #FFF1FE dotted;
  border-radius: 40px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-block-answers {
  display: flex;
  flex-direction: row;
}

.second-block-answers {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.answers {
  padding-top: 20px;
  font-family: 'MADELikesSlab';
  font-size: 30px;
  color: #5c0e9c;
  cursor: pointer;
}

.answers input[type=radio] {
  display: none;
}

.answers label {
	display: inline-block;
	cursor: pointer;
	padding: 10px;
  margin: 0 10px;
	line-height: 34px;
	border: 4px ridge #5c0e9c;
	border-radius: 12px;
	user-select: none;
  background-color: #caafe4;
}

/*Нажатие*/
.answers input[type=radio]:checked + label {
  color: #000000;
  background-color: #f1a809;
  border: 4px solid #000000;
}

/*Ховер*/
.answers label:hover {
  color: #ffffff;
  background-color: #5c0e9c;
  border: 4px solid #2f0b4d;
}

/*Не нажата*/
.answers input[type=radio]:disabled + label {
  background: #000000;
  color: aquamarine;
}

.endless {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.btn {
  background-color: #ffd57a;
  color: #000000;
  padding: 10px 20px;
  font-size: 30px;
  border-radius: 12px;
  font-family: 'MADELikesSlab';
  border: 4px ridge #97752a;
  cursor: pointer;
}

.finalscore-pos {
  padding-top: 20px;
}

.finalscore {
  display: flex;
  justify-content: center;
  font-family: 'MADELikesSlab';
  color: #5c0e9c;
  border: 4px solid #5c0e9c;
  border-radius: 6px;
  background-color: #caafe4;
  font-size: 30px;
  padding: 20px;
  pointer-events: none;
}

.reload-block {
  padding-top: 60px;
}

.wasting-space {
  height: 250px;
}

.reload {
  background-color: #ffd57a;
  color: #000000;
  padding: 10px 20px;
  font-size: 30px;
  border-radius: 12px;
  font-family: 'MADELikesSlab';
  border: 4px ridge #97752a;
  cursor: pointer;
}

footer {
  border-top: 6px #FFF1FE dotted;
  height: 160px;
  padding-top: 40px;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
}

.footer-text-style {
  font-size: 30px;
  color: #FFF1FE;
  font-family: "MADELikesSlab";
}

.footer-text-style:hover {
  color: rgb(187, 172, 255);
  transition: 0.2s linear;
}

@media screen and (max-width: 785px) {
  .footer-text-style {
    font-size: 20px;
  }
  .footer-menu {
    padding-top: 20px;
  }
}

@media screen and (max-width: 440px) {
  footer {
    padding: 25px;
  }
  .footer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .footer-text-style {
    padding: 5px;
  }
  .question-box {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 320px) {
  .question-box {
    padding: 10px 0 20px 0;
  }
  .logotype {
    width: 250px;
    height: 225px;
  }
  .qst {
    font-size: 20px;
  }
  .answers {
    padding-top: 10px;
    font-size: 20px;
  }
  .answers label {
    line-height: 24px;
  }
}