* {
  margin: 0;
  padding: 0;
  font-family: 'Kanit';
}

body {
  background: rgb(118,0,142);
  background: linear-gradient(0deg, #5c0e9c 25%, #9a3bf3 50%);
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.q1 {
  max-width: 400px;
  max-height: 200px;
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.quiz {
  color: #000000;
  font-family: 'Kanit';
  font-style: normal;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qst {
  color: #000000;
  border: solid;
  border-color: #D9D9D9;
  background-color: #D9D9D9;
  border-radius: 8px;
  margin: 30px 0 30px 0;
  padding-left: 50px;
  padding-right: 50px;
}

.btn {
  background-color: #f1a809;
  color: #D9D9D9;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.answers {
  display: flex;
  flex-direction: row;
  border: solid;
  color: #000000;
  background-color: #D9D9D9;
  border-radius: 8px;
  border-color: #D9D9D9;
  margin-top: 20px;
}

.reload {
  background-color: #000000;
  color: #D9D9D9;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 30px;
}

h2 {
  font-family: 'Kanit';
  border: solid;
  color: #000000;
  background-color: #D9D9D9;
  border-radius: 8px;
  border-color: #D9D9D9;
  margin-top: 20px;
}

.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.endless {
  display: flex;
  justify-content: center;
}

@media (max-width: 430px) {
  .q1 {
      width: 300px;
      height: 150px;
  }
}

.time{
  display: flex;
  justify-content: center;
  transform: translate(0, -245px);
  color: #f1a809;
  font-size: 30px;
}

footer {
  border-top: 6px #FFF1FE dotted;
  height: 160px;
  padding-top: 40px;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
}

.footer-text-style {
  font-size: 30px;
  color: #FFF1FE;
  font-family: "MADELikesSlab";
}

.footer-text-style:hover {
  color: rgb(187, 172, 255);
  transition: 0.2s linear;
}

/* Кнопки ответа//////////////// */

.answers input[type=radio] {
  display: none;
}

.answers label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid #999;
	border-radius: 6px;
	user-select: none;
}

/*Checked*/
.answers input[type=radio]:checked + label {
  background: #f1a809;
}

/* Hover */
.answers label:hover {
  color: #9a3bf3;
}

/*Disabled*/
.answers input[type=radio]:disabled + label {
  background: #000000;
  color: aquamarine;
}

/* Кнопки ответа//////////////// */