li {
    list-style-type: none;
  }

  .answers label {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    margin: 0 10px;
    line-height: 34px;
    border: 4px ridge #5c0e9c;
    border-radius: 12px;
    user-select: none;
    background-color: #caafe4;
  }