@font-face {
	font-family: 'MADELikesSlab';
	src: url('./fonts/madelikesslab.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/madelikesslab.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/madelikesslab.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/madelikesslab.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/madelikesslab.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/madelikesslab.svg#madelikesslab') format('svg'); /* Chrome < 4, Legacy iOS */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background: rgb(118,0,142);
  background: linear-gradient(0deg, #5c0e9c 25%, #9a3bf3 50%);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logotype {
  display: flex;
  justify-content: flex-start;
  pointer-events: none;
  width: 300px;
  height: 275px;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu-style {
  padding-right: 50px;
  pointer-events: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

h1 {
  font-family: "MADELikesSlab";
  font-size: 60px;
  color: #FFF1FE;
}

p {
  font-family: "MADELikesSlab";
  font-size: 40px;
  color: #FFF1FE;
  padding: 40px 40px 0 40px;
}

.whyweare {
  padding-top: 40px;
}

footer {
  border-top: 6px #FFF1FE dotted;
  height: 160px;
  padding-top: 40px;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
}

.footer-text-style {
  font-size: 30px;
  color: #FFF1FE;
  font-family: "MADELikesSlab";
}

.footer-text-style:hover {
  color: rgb(187, 172, 255);
  transition: 0.2s linear;
}

@media screen and (max-width: 890px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-style {
    padding: 0 20px 0 20px;
  }

  .menu {
    padding-top: 20px;
  }

  main {
    padding: 30px 0 30px 0;
  }
}

@media screen and (max-width: 890px) {
  h1 {
    font-size: 40px;
  }

  p {
    font-size: 30px;
  }

  .menu-style {
    transform: scale(0.9);
  }
}

@media screen and (max-width: 530px) {
  .menu-style {
    padding: 0 10px 0 10px;
    transform: scale(0.9);
  }

  h1 {
    font-size: 35px;
  }

  .logotype {
    transform: scale(0.9);
  }

  .footer-text-style {
    font-size: 25px;
  }
}

@media screen and (max-width: 430px) {
  h1 {
    font-size: 25px;
    padding: 0 10px 0 10px;
  }

  p {
    font-size: 20px;
    padding: 10px;
  }

  .menu-style {
    padding: 0 5px 0 5px;
    transform: scale(0.8);
  }

  .logotype {
    transform: scale(0.8);
  }

  .main-block1 {
    transform: scale(0.9);
    margin-bottom: -60px;
  }

  .main-block2 {
    transform: scale(0.9);
    margin-bottom: -20px;
  }

  .footer-text-style {
    font-size: 20px;
  }

  .quiz {
    padding: 30px 40px 30px 40px;
  }
}

@media screen and (max-width: 375px) {
  .menu-style {
    padding: 0;
    transform: scale(0.6);
  }

  .footer-text-style {
    font-size: 25px;
    padding: 5px;
  }

  .footer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
  }

  footer {
    padding-top: 10px;
    height: 200px;
  }

  .quiz {
    padding: 0;
  }

  .quiz-name {
    padding-top: 30px;
  }
  .main-block1 {
    margin-top: -25px;
  }

  .main-block2 {
    margin-bottom: 20px;
  }

  .menu {
    padding: 0;
  }
}