* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background: rgb(118,0,142);
  background: linear-gradient(0deg, #5c0e9c 25%, #9a3bf3 50%);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu-style {
  padding-right: 50px;
  pointer-events: none;
}

.logotype {
    display: flex;
    justify-content: flex-start;
    pointer-events: none;
    width: 300px;
    height: 275px;
}

footer {
    border-top: 6px #FFF1FE dotted;
    height: 160px;
    padding-top: 40px;
}
  
.footer-menu {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
}
  
.footer-text-style {
    font-size: 30px;
    color: #FFF1FE;
    font-family: "MADELikesSlab";
}
  
.footer-text-style:hover {
    color: rgb(187, 172, 255);
    transition: 0.2s linear;
}